:root{
      --bg-dark:#0b1e30;
      --bg-mid:#132234;
      --bg-light:#0f2c3f;
      --text:#e9f1f7;
      --accent:#00c2db;
      --primary-color: #00E5FF;
}
    *{box-sizing:border-box}
    html,body{height:100%}

body{
      margin:0;
      /* font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; */
      color:var(--text);
      background: url('../main_css/images/background.png');
      background-size: cover;

}
.form-label {
  text-align: left;
  margin-left: 0; 
}

.input-group {
  padding-left: 0;
  padding-right: 0;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button[type="submit"] {
  font-size: 16px;
  padding: 10px 15px;
}

.btn-blue {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    border: solid 2px var(--primary-color);
    border-radius: 1rem;
    background: none;
    color: var(--primary-color);
    transition: 0.2s;
}
.btn-white {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 1rem;
    background: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.btn:hover {
    color: white;
    background:none;
    border: solid 2px white;
}

.active {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: solid 3px var(--primary-color); 
}

.link {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}


.btn-dropdown {
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.btn-dropdown:hover {
    border: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.btn-dropdown:focus {
    border: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.btn-dropdown2 {
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 25px;
}

.btn-dropdown2:hover {
    color: var(--primary-color);

}

.btn-dropdown2:focus {
    color: var(--primary-color);
}

.dropdown-menu {
    border-radius: 15px;
    padding: 2rem 1rem;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.85);
}

.dropdown-item {
    color: white;
    border-bottom: solid 2px white;
}

.disabled {
    border: none;
    display: none;
}

.card-img-top {
    height: 7rem;
    
    margin: 0rem 0 0.5rem 0;
    object-fit: cover;
}

.card-botton {
    border-radius: 0 0 25px 25px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.link:hover {
    color: white;
}
.row {
  display: flex;
  gap: 20px;
}

.col-md-6 {
  flex: 1; 
  padding: 0; 
}


.bg-Muted {
  background-color: #dcdcdc; 
}

.bg-none {
  background: none;
}

.focus-none:focus {
  background: none;
}

.focus-none::placeholder {
  color: rgb(145, 145, 145);
}

.br-none {
  border: none;
}

.btn-group:focus {
  background-color:#0b1e30;
}

.avatar {
  width: 128px;
  height: 128px;
}

.avatar:hover {
  cursor: pointer;
}