{% extends 'base.html' %}
{% load static %}

{% block content %}

            <div class=" mx-auto p-6">
              <h1 class="text-3xl font-bold text-gray-800 mb-6">Teams Overview</h1>

              <form action="" method="get">
               <div class="flex flex-col md:flex-row gap-4 mb-8">
                <div class="flex-1 relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <i class="fas fa-search text-gray-400"></i>
                    </div>
                    <input type="text" name="search"
                           class="block w-full pl-10 pr-3 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500" 
                           placeholder="Search for team name...">
                </div>
                
                <div class="w-full md:w-48">
                    <div class="relative">
                        <select class="appearance-none block w-full pl-3 pr-10 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white" name="track">
                            <option disabled selected>Select a track</option>
                            {% for track in tracks %}
                            <option value="{{track.id}}">{{track.name}}</option>
                            {% endfor %}

                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                
               
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-6 rounded-lg transition duration-200 flex items-center justify-center">
                    <i class="fas fa-search mr-2"></i>
                    Search
                </button>
            </div>
              </form>
                <div class="bg-white rounded-xl shadow-md p-6">
                <div class="overflow-x-auto">
                  <table class="w-full text-left border-collapse">
                  <thead>
                    <tr class="bg-gray-50 text-gray-600 text-sm uppercase">
                    <th class="p-3">Team Name</th>
                    <th class="p-3">Leader</th>
                    <th class="p-3">Members</th>
                    <th class="p-3">Track</th>
                    <th class="p-3">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="text-gray-700 text-sm">
                  
                    {% for team in hackathon_teams %}
                    <tr class="border-b hover:bg-gray-50">
                    <td class="p-3 font-medium">{{team.name}}</td>
                    <td class="p-3 p-2"> 
                      <span class="px-2 py-1 text-xs bg-blue-100 text-blue-800 rounded-full">{{team.leader.first_name}}</span>
                      <span class="px-2 py-1 text-xs bg-green-100 text-green-800 rounded-full">{{team.leader.user_profile.phone_number}}</span>
                      <span class="px-2 py-1 text-xs bg-orange-100 text-orange-800 rounded-full">{{team.leader.email}}</span>
                    </td>
                    <td class="p-3">
                    <div class="flex flex-wrap gap-1">
                      {% for member in team.team_members.all %}
                      <span class="px-2 py-1 text-xs bg-blue-100 text-blue-800 rounded-full">{{member.member.first_name}}</span>
                      {% endfor %}
                    </div>
                    <td class="p-3">
                      <span class="px-2 py-1 text-[10px] sm:text-xs md:text-sm bg-purple-100 text-purple-800 text-center rounded-full inline-block truncate">
                        {{ team.track.name }}
                    </span>
                    </td>
                    </td>
                    <td class="p-3 space-x-2">
                      <a href="{% url 'dashboard:dashboard_team_details_view' team.id %}" class="px-3 py-1 text-xs bg-blue-500 text-white rounded-md hover:bg-blue-600">View</a>
                      <button  onclick="confirmDelete(event, '{% url 'dashboard:dashboard_delete_team_view' team.id %}')" class="px-3 py-1 text-xs bg-red-400 text-white rounded-md ">Delete</button>
                    </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>
                <div class="flex space-x-1 m-3">
                  {% if hackathon_teams.has_previous %}
                  <a href="?page={{ hackathon_teams.previous_page_number }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">Previous</a>
                  {% else %}
                  <span class="px-3 py-1 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">Previous</span>
                  {% endif %}
      
                  {% for page_num in hackathon_teams.paginator.page_range %}
                  {% if hackathon_teams.number == page_num %}
                      <span class="px-3 py-1 rounded-lg bg-blue-600 text-white">{{ page_num }}</span>
                  {% else %}
                      <a href="?page={{ page_num }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">{{ page_num }}</a>
                  {% endif %}
                  {% endfor %}
      
                  {% if hackathon_teams.has_next %}
                  <a href="?page={{ hackathon_teams.next_page_number }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">Next</a>
                  {% else %}
                  <span class="px-3 py-1 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">Next</span>
                  {% endif %}
              </div>
                </div>
            </div>
          
      
          
        
    <script>
      function confirmDelete(event, url) {
          event.preventDefault();
          Swal.fire({
              title: 'Are you sure?',
              text: "You cannot return a team !.",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Confirm',
              cancelButtonText: 'Cancel'
          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = url;
              }
          });
      }
  </script>
 {% endblock %}